<h3>Features</h3>
<ngb-accordion [closeOthers]="true" activeIds="tree">
  <ngb-panel title="Form Builder" id="form-builder">
    <ng-template ngbPanelContent>
      <jhi-form-builder></jhi-form-builder>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Form JSON" id="form-json">
    <ng-template ngbPanelContent>
      <jhi-form-json></jhi-form-json>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Form Designer" id="form-designer">
    <ng-template ngbPanelContent>
      <jhi-form-designer></jhi-form-designer>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="JS-YAML" id="js-yaml">
    <ng-template ngbPanelContent>
      <jhi-js-yaml></jhi-js-yaml>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="NGX FORMLY" id="ngx-formly">
    <ng-template ngbPanelContent>
      <jhi-ngx-formly></jhi-ngx-formly>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
